.overflow-hidden {
    overflow: hidden;
}

.card {
    flex: 1 1 300px;
    width: 300px;

    img {
        height: 260px;
    }

    .card-body {
        .btn {
            background-color: black;
            border: none;
            padding: 10px;
        }
    }
}