.product {
  padding: 10px;
  text-align: center;
  border: solid 1px;
  width: calc(90% / 3);

  img {
    width: 200px;
  }
}

.productList {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.btns {
  margin: 100px auto;
}